<% flash.each do |type, msg| %>
<div>
  <%= msg %>
</div>
<% end %>
<%= form_with model: @recipe, url: create_new_recipe_path, method: :post, local: true do |f| %>
<div class="new-recipe-form">
  <%= f.hidden_field :user_id, value: current_user.id %><br>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>

    <%= f.label :preparation_time %><br>
    <%= f.text_field :preparation_time %><br>

    <%= f.label :cooking_time %><br>
    <%= f.text_field :cooking_time %><br>

    <%= f.label :description %><br>
    <%= f.text_field :description %><br>

    <%= f.label :public %><br>
    <%= f.check_box :public %><br>

    <%= f.submit %>
<% end %>
</div>