<div class="show-container">
<h1 class="recipe-title">Recipe # <%= @recipe.id %></h1>
<div class="p-p-container">
<h6>Preparation Time: <%= @recipe.preparation_time %> Hours</h6>
<% if @recipe.public %>
<div class="img-container"><h6 class="img-text">Public: </h6><%= image_tag "on-button.png", class:"public-img" %></div>
<% else %>
<div class="img-container"><h6 class="img-text">Public: </h6><%= image_tag "off-button.png", class:"public-img" %></div>
<% end %>
</div>
<h6 class="recipe-show-description">Cooking Time: <%= @recipe.cooking_time %> Hours</h6>
<h6 class="recipe-show-description">Please follow these steps:</h6><p><%= @recipe.description %></p>
<% if @recipe.user_id == current_user.id %>
<div class="buttons-container">
  <a class="show-button" href="<%= recipe_foods_new_path %>">Add New Food</a>
  <a class="show-button" href="/general_shopping_list/<%= @recipe.id %>">Generate shopping list</a>
</div>
<% end %>
<hr>
<div class="table-container">
<table>
  <tr>
    <th>Food</th>
    <th>Quantity</th>
    <th>Value</th>
    <th>Actions</th>
  </tr>
  <% @recipe_foods.each do |food| %>
    <% if @recipe.id == food.recipe_id %>
    <tr>
      <td><%= Food.find_by_id(food.food_id).name %></td>
      <td><%= food.quantity %><%= Food.find_by_id(food.food_id).measurement_unit %></td>
      <td>$<%= food.quantity * Food.find_by_id(food.food_id).price %></td>
      <% if @recipe.user_id == current_user.id %>
        <td><%= button_to "Delete", delete_recipe_food_path, params: { food_id: food.food_id, recipe_id: food.recipe_id } , method: :post %></td>
      <% else %>
        <td><p>Only owner can delete this recipe food</p></td>
      <% end %>
    </tr>
    <% end %>
  <% end %>
</table>
</div>
</div>
