<h1>Hello im foods</h1>
<a href="<%= foods_new_path %>">Add New Food</a>
<table>
  <tr>
    <th>Food</th>
    <th>Measurement Unit</th>
    <th>Unit Price</th>
    <th>Actions</th>
  </tr>
  <% @foods.each do |food| %>
    <tr>
      <td><%= food.name %></td>
      <td><%= food.measurement_unit %></td>
      <td>$<%= food.price %></td>
      <td><%= button_to "Delete", delete_food_path, params: { id: food.id } , method: :post %></td>
    </tr>
  <% end %>
</table>