<% flash.each do |type, msg| %>
<div>
  <%= msg %>
</div>
<% end %>
<div class="food-button-container">
<a class="add-food-button" href="<%= foods_new_path %>">Add New Food</a>
</div>
<div class="table-container">
  <table class="foods-table">
    <tr>
      <th>Food</th>
      <th>Measurement Unit</th>
      <th>Unit Price</th>
      <th>Actions</th>
    </tr>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td>$<%= food.price %></td>
        <% if food.user_id == current_user.id %>
        <td><%= button_to "Delete", delete_food_path, params: { id: food.id } , method: :post %></td>
        <% else %>
          <td><p>Only owner can delete this food</p></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>